<div class="header">
  <div class="header-content">
    <img class="bitpay-logo" src="assets/img/bitpay-logo-negative.svg" alt="Bitpay">
    <div class="header-center">
      <h3 class="header-title">BCH Address Format Translator</h3>
      <div class="repository-link">
        <a href="https://github.com/bitpay/address-translator" target="blank">
          <img src="assets/img/github.png" alt="Github">
        </a>
      </div>
    </div>
    <img class="copay-logo" src="assets/img/copay-logo-negative.svg" alt="Copay">
  </div>
</div>

<div class="container">
  <div class="warning">
    <b>WARNING:</b> This tool can ONLY be used to translate an old-format BCH address to the BCH address format used by BitPay and Copay wallets,
    or vice versa. This tool DOES NOT turn BTC into BCH or turn BTC addresses into BCH addresses. Learn more about BitPay's
    adopted <a href="https://support.bitpay.com/hc/en-us/articles/115004671663-BitPay-s-Adopted-Conventions-for-Bitcoin-Cash-Addresses-URIs-and-Payment-Requests" target="_blank">BCH address formatting conventions.</a>
  </div>

  <form #translateForm="ngForm">
    <div class="card">
      <div class="card-block">
        <h6 class="card-title">Original</h6>
        <div class="row">
          <div class="form-group col">
            <div class="input-group">
              <div class="input-group-addon">Address:</div>
              <input type="text" class="form-control" id="addressToTranslate" name="addressToTranslate" [(ngModel)]="addressToTranslate" (ngModelChange)="translateAddress(addressToTranslate)">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" *ngIf="result">
      <div class="card-block">
        <h6 class="card-title">Translation</h6>
        <div class="row">
          <div class="form-group col">
            <div class="input-group">
              <div class="input-group-addon">Address:</div>
              <input type="text" class="form-control" id="resultAddress" [disabled]="true" name="resultAddress" [(ngModel)]="result.resultAddress" style="cursor: initial">
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" (click)="reset()" class="btn btn-outline-primary btn-lg btn-block" *ngIf="result">Reset</button>
  </form>
</div>
