<div class="header">
  <div class="header-content">
    <img class="bitpay-logo" src="assets/img/bitpay-logo-negative.svg" alt="Bitpay">
    <div class="header-center">
      <h3 class="header-title">BCH Address Format Translator</h3>
      <div class="repository-link">
        <a href="https://github.com/bitpay/address-translator" target="blank">
          <img src="assets/img/github.png" alt="Github">
        </a>
      </div>
    </div>
    <img class="copay-logo" src="assets/img/copay-logo-negative.svg" alt="Copay">
  </div>
</div>

<div class="message" *ngIf="showCopyAlert">
  <div class="alert alert-success message-text">
    {{copiedFormat}} format copied to clipboard
    <button class="close" (click)="close()">
      &times;
    </button>
  </div>
</div>

<div class="container">
  <div class="warning">
    <b>WARNING:</b> This tool is ONLY for translating old-format BCH addresses to the BCH address formats used by BitPay and
    Copay wallets, or vice versa. This tool DOES NOT turn BTC into BCH or turn BTC addresses into BCH addresses
  </div>

  <div class="note">
    <b>NOTE:</b> Starting in version v3.12, BitPay and Copay BCH wallets use the CashAddr format by default.
  </div>

  <div class="card">
    <div class="card-body">
      <h6 class="card-title">Enter a Bitcoin Cash address</h6>
      <div class="form-group row">
        <div class="col-sm-10">
          <input type="text" class="form-control ellipsis" id="addressToTranslate" name="addressToTranslate" [(ngModel)]="addressToTranslate"
            (ngModelChange)="translateAddress(addressToTranslate)">
        </div>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="cashAddr">
    <div class="card-body">
      <h6 class="card-title">Current CashAddr Format</h6>
      <p class="card-text">{{cashAddr}}</p>
      <div *ngIf="cashAddr && cashAddrUpperCase" class="qrcode">
        <ngx-qrcode qrc-value="{{cashAddrUpperCase}}" qrc-errorCorrectionLevel="M" (click)="copyToClipboard(cashAddr, 'CashAddr')">
        </ngx-qrcode>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="copayAddr">
    <div class="card-body">
      <h6 class="card-title">Legacy BitPay BCH Format</h6>        
      <p class="card-text">{{copayAddr}}</p>
      <div class="qrcode">
        <ngx-qrcode qrc-value="{{copayAddr}}" qrc-errorCorrectionLevel="M" (click)="copyToClipboard(copayAddr, 'Legacy BitPay BCH')">
        </ngx-qrcode>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="legacyAddr">
    <div class="card-body">
      <h6 class="card-title">Legacy BCH Format</h6>   
      <p class="card-text">{{legacyAddr}}</p>
      <div class="qrcode">
        <ngx-qrcode qrc-value="{{legacyAddr}}" qrc-errorCorrectionLevel="M" (click)="copyToClipboard(legacyAddr, 'Legacy BCH')">
        </ngx-qrcode>
      </div>
    </div>
  </div>
</div>