// Colors
$bitpayColor: #293c92;
$copayColor: #192c3a;
$copayColorOld: #1abb9b;
$white: #ffffff;
$bodyBackgroundColor: #F1f3f5;

@mixin gradient {
  background: $bitpayColor; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $bitpayColor , $copayColorOld); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $bitpayColor, $copayColorOld); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $bitpayColor, $copayColorOld); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $bitpayColor , $copayColorOld); /* Standard syntax */
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $bodyBackgroundColor;
}

.qrcode {
  text-align: center;
  cursor: pointer;
  transition: transform .5s;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.1, 1.1, 1.1);

    &::after {
      opacity: 1;
    }
  }
}

.warning {
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 20px;
  background: #F7CC57;
  color: #4C4C4C;
}

.note {
  background: #FFFF;
  color: #4C4C4C;
  margin-bottom: 20px;
  padding: 15px;
}

.header {
  height: 8rem;
  @include gradient;

  .header-content {
    display: flex;
    justify-content: space-around;
    padding-top: 2.6rem;

    .bitpay-logo, .copay-logo {
      max-height: 3rem;
      // Small devices (landscape phones, less than 768px)
      @media (max-width: 767.98px) { 
        display: none;
      }
    }

    .header-center {
      font-size: 1.6rem;

      .header-title {
        text-align: center;
        margin: 0rem;
        color: $white;
        text-shadow: 1px 1px $copayColor;
        text-transform: uppercase;
        font-size: 1.2rem;
      }

      .repository-link {
        text-align: center;
        img {
          width: 1.5rem;
        }
      }
    }
  }
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  .card {
    margin-bottom: 1.5rem;
    .card-text {
      font-size: 0.9rem;
    }
  }
}

.message {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  .message-text {
    font-size: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
